{% extends "abc/with_sidebar.html" %}
{% block content %}
<div class="row">
    <form id="newform" action="/api/voting/new" autocomplete="off">
        <h1 class="h3 mb-3 fw-normal">Create a voting</h1>
        {% csrf_token %}
        <div class="col-md-8 col-lg-6 min-vw-50 vw-50">
            <div class="card mb-4">
                <div class="card-header">
                    <h5 class="mb-0">
                        <input type="text" class="form-control" placeholder="Voting name (required)" maxlength="48" name="name" required>
                    </h5>
                </div>
                <div class="card-body">
                    <div class="mb-3">
                        <textarea class="form-control txtarea" id="floatingDescription" placeholder="Voting description (optional)" maxlength="512" name="description" rows=4 form="newform"></textarea>
                    </div>
                    <hr>
                    <h5>Voting options</h5>
                    <div id="optionbuilder">
                    </div>
                    {% comment %} <input name="options" type="text" id="optionscontainer" hidden>
                    <ol class="mb-3" id="optionbuilder">
                    </ol>
                    <a href="javascript:optionBuilderNew()" class="btn btn-primary" id="addnewoption"><i class="bi bi-plus"></i>Add option</a> {% endcomment %}
                    <br>
                    <label><input type="checkbox" class="form-check-input close" name="multichoice" value="yes"> Allow multiple options to be selected</label>
                    <hr>
                    <h5>Voting closing</h5>
                    <div class="form-check text-start my-3">
                        <input class="form-check-input close" type="radio" id="close1" name="close" checked=true value="auto">
                        <label class="form-check-label" for="close1">Automatically close the voting</label>
                        <br>
                        <input class="form-check-input close" type="radio" id="close2" name="close" value="manual"> 
                        <label class="form-check-label" for="close2">Close the voting manually</label>
                    </div>
                    <div class="form-small" id="datetimeForm">
                        <input class="form-control top datetime" type="date" id="datetime1" name="date">
                        <input class="form-control bottom datetime" type="time" id="datetime2" name = "time">
                        <input type="text" id="datetime3" name = "timezone" hidden value="">
                    </div>
                    <hr>
                    <i>By creating any content on this website, you agree with the <a href="/tos">Terms of Service</a>.</i>
                    <br><br>
                    <button type="submit" data-spinner-text="Creating..." class="btn btn-primary">Create voting</button>
                    <script>
                        document.getElementById("newform").onsubmit = buildAjaxFormHandler(function(resp){
                        if(resp.status == 200){
                            spawnToast("success", "info-circle-fill", "Voting successfully created!");
                            window.location.replace("/votings/view/"+resp.content);
                        }
                        else{
                            switch(resp.content){
                                case "UNAUTHORIZED":
                                    errorToast(false, "Authorization failure. Try refreshing the page.");
                                    break;
                                case "BADREQUEST":
                                    errorToast(false, "Invalid data specified.");
                                    break;
                                case "TOOMANYOPTIONS":
                                    errorToast(false, "Too many options specified.");
                                    break;
                                case "TOOFEWOPTIONS":
                                    errorToast(false, "Too few options specified.");
                                    break;
                                case "BADDATE":
                                    errorToast(false, "Invalid date format.");
                                    break;
                                case "DATEINPAST":
                                    errorToast(false, "The date you specified is in the past.");
                                    break;
                                default:
                                    errorToast(false, "Unexpected error. Check console for more info.");
                                    console.error(resp);
                                    break;
                            }
                        }
                    });
                    const radio1 = document.getElementById("close1");
                    const datetime1 = document.getElementById("datetime1");
                    const radio2 = document.getElementById("close2");
                    const datetime2 = document.getElementById("datetime2");
                    function radioUpdate(e){
                        datetime1.disabled=!document.getElementById("close1").checked;
                        datetime2.disabled=datetime1.disabled;
                    }
                    radio1.addEventListener("input", radioUpdate);
                    radio2.addEventListener("input", radioUpdate);
                    let timezone_input = document.getElementById("datetime3");
                    console.log(Intl.DateTimeFormat().resolvedOptions().timeZone);
                    timezone_input.value = Intl.DateTimeFormat().resolvedOptions().timeZone;
                    let optionBuilder = new OptionBuilderElement(document.getElementById("optionbuilder"));
                    for(let i = 0; i < 2; i++) optionBuilder.createNewOption();
                </script>
            </div>
        </div>
    </form>
</div>
{% endblock %}