{% extends "abc/with_sidebar.html" %}
{% block title %}Simple Votings - Terms of Service{% endblock %}
{% block content %}
<h1><i class="bi bi-file-earmark-text-fill"></i> Terms of Service</h1>
<h3>By creating any content(accounts, votings, etc.) you agree with the following Terms of Service:</h3>
<br>
<h5>
    All content on this website must comply with the Russian Federation law.<br>
    If we receive any legal request for content removal, we will remove the specified content and block the author permanently.
</h5>
<br>
<h5>
    The content posted on this website must not contain obscene vocabulary.<br>
</h5>
<br>
<h5>
    We retain the right to change these Terms of Service without any announcement.
</h5>
{% endblock %}